@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;600&family=Fraunces:wght@100;200;300;400;500;600;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --font-barlow: 'Barlow', sans-serif;
  --font-frances: 'Fraunces', serif;
  /* primary */
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan : hsl(167, 40%, 24%); /* (graphic design text) */
  --Dark-blue-: hsl(198, 62%, 26%); /*(photography text) */
  --Dark-moderate-cyan : hsl(168, 34%, 41%); /* (footer) */
  /* Neutral */
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  --footer-bg: #9CDCCE;
}

.header-bg{
  width: 100%;
  background: url(./images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 800px;
}

.header{
  max-width: 1440px;
  padding: 40px;
  margin: 0 auto;
}

[data-menu="button"]{
  border: none;
  background-color: #3EBFFF;
  cursor: pointer;
  display: none;
}

nav{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-links{
  display: flex;
  font-family: var(--font-barlow);
  font-size: 18px;
  font-weight: 400;
  gap: 20px;
}

.list-links li a{
  padding: 10px;
  color: var(--White);
}

.list-links .link-contact{
  font-family: var(--font-frances);
  text-transform: uppercase;
  color: var(--Very-dark-desaturated-blue);
  font-weight: 700;
  font-size: 16px;
  background: var(--White);
  border-radius: 20px;
  padding: 15px;

}

main{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  gap: 110px;
}

.icon-arrow{
  width: 40px;
}

.main-title{
  font-family: var(--font-frances);
  font-size: 3rem;
  color: var(--White);
  font-weight: 900;
  letter-spacing: 10px;
  text-align: center;
}

/* galery-images */

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

img{
  width: 100%;
  display: block;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

.content h2{
  font-family: var(--font-frances);
  font-size: 2rem;
}

.content p{
  max-width: 50ch;
  color: var(--Dark-grayish-blue);
  line-height: 24px;
  font-weight: 600px;
}

.content span{
  max-width: max-content;
  font-weight: 700;
  box-shadow: -2px 8px 10px -5px var(--Yellow);
  font-size: 15px;
}

.container .sof-red span{
  box-shadow: -2px 8px 10px -5px var(--Soft-red);
}

/* section imagens text */

.container-fruts{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-fruts{
  background: url(./images/desktop/image-graphic-design.jpg) no-repeat center center;
  background-size: cover;
  height: 592px;
}

.container-fruts .orange{
  background: url(./images/desktop/image-photography.jpg) no-repeat center center;
  background-size: cover;
}

.container-fruts div{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* width: 100%; */
  padding-bottom: 40px;
  color: var(--Dark-desaturated-cyan);
}

.container-fruts div h4{
  font-family: var(--font-frances);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2rem;
}

.container-fruts div p{
  text-align: center;
  max-width: 50ch;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-barlow);
  color: var(--Dark-moderate-cyan);
}

.container-fruts .orange h4,
.container-fruts .orange p{
  color: var(--Dark-blue-);
}

/* section clients */

.section-clients{
  margin: 100px auto;
  max-width: 900px;
}

.section-clients h4{
  text-align: center;
  margin-bottom: 50px;
  color: var(--Grayish-blue);
  letter-spacing: 5px;
  font-family: var(--font-frances);
}

.container-clients{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.client{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.client .client-info{
  text-align: center;
  line-height: 25px;
  font-family: var(--font-barlow);
  font-weight: 600;
  font-size: 14px;
  color: var(--Very-dark-grayish-blue);
}

.client img{
  width: 50px;
  border-radius: 50%;
}

.client-descrition{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.client-descrition h5{
  font-weight: 900;
  font-family: var(--font-frances);
}

.client-descrition p{
  font-family: var(--font-barlow);
  font-size: 12px;
  color: var(--Grayish-blue);
}

/* section imagens footrer */

.container-images-footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* footer */

.footer{
  background-color: var(--footer-bg);
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 40px;
}

.footer-list-links{
  display: flex;
  gap: 40px;
}

.footer-list-links li a{
  color: var(--Dark-desaturated-cyan);
  font-family: var(--font-barlow);
  font-weight: 400;
}

.footer-network{
  display: flex;
  gap: 20px;
}

@media (max-width: 800px) {

  .header-bg{
    background: url(./images/mobile/image-header.jpg);
    background-position: center bottom;
    background-size: initial;
    background-repeat: no-repeat;
  }

  .list-links{
    display: none;
    position: absolute;
    top: 80px;
    left: -2px;
    background-color: var(--White);
    flex-direction: column;
    width: 80vw;
    align-items: center;
    height: 54vh;
    justify-content: center;
    gap: 40px;
  }

  .list-links.active{
    display: flex;
  }

  .list-links::before{
    content: '';
    position: absolute;
    border-right: -2px solid transparent;
    border-left: 50px solid transparent;
    border-bottom:50px solid var(--White);
    display: block;
    width: 0px;
    height: 0px;
    top: -35px;
    right: 0px;
  }

  .list-links li a{
    color: var(--Grayish-blue);
    font-weight: 700;
  }

  .list-links .link-contact{
    background: #FED501;
  }

  [data-menu="button"]{
    display: block;
  }

  main{
    gap: 80px;
  }

  .main-title{
    font-size: 2.5rem;
  }

  .container{
    grid-template-columns: 1fr;
  }

  .content{
    align-items: center;
  }

  .content h2{
    text-align: center;
  }

  .yellow{
    order: 1;
  }

  .sof-red{
    order: 2;
  }

  .container-fruts{
    grid-template-columns: 1fr;
  }

  .section-clients{
    margin: 50px 0;
  }

  .container-clients{
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .container-clients .client-info{
    max-width: 40ch;
  }

  .container-images-footer{
    grid-template-columns: 1fr 1fr;
  }

}